.header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ececec;
}

.header__container {
    display: flex;
    align-items: center;
}


.site-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-nav__item {
    margin-right: 50px;
}

.site-nav__item:last-child {
    margin-right: 0;
}

.site-nav__link:hover,
.site-nav__link:focus {
    color: var(--accent-color);
    transition: color var(--duration) var(--timing-function);
}

.site-nav__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #212121;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    position: relative;
    transition: color var(--duration) var(--timing-function);
}

.site-nav__link.current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: -1px;
    left: 0;
    border-radius: 2px;
    background-color: rgba(33, 150, 243, 1);
}

.auth-nav {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.auth-nav__item--mail {
    margin-right: 50px;
}

.auth-nav__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    /* padding-top: 32px;
  padding-bottom: 32px; */
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color var(--duration) var(--timing-function);
}

.auth-nav__link:hover,
.auth-nav__link:focus {
    color: var(--accent-color);
    transition: color var(--duration) var(--timing-function);
}

.auth-nav__icon {
    fill: currentColor;
    margin-right: 10px;
}

.site-nav--studio {
    color: #2196f3;
}

.site-nav--portfolio {
    color: #2196f3;
}